<div class="w-full grid col-span-3"
     (contextmenu)="onClickOutside($event)">
    <div (contextmenu)="onRightClick($event)">
        <!-- The element you want to right-click on -->
        <div class="rounded-md bg-input p-3">
            <div class="mb-1 text-messageUsername">{{message.senderName}}</div>
            <div class="text-text">message.senderName</div>
        </div>
    </div>
</div>

<app-context-menu [actions]="actions"
                  [visible]="menuVisible"
                  [positionX]="menuPositionX"
                  [positionY]="menuPositionY"
                  (actionClick)="handleActionClick($event)">
</app-context-menu>