<div class="flex justify-between mb-2">
    <div class="py-1 px-1.5 rounded-lg text-navlink"
         *ngFor="let step of steps.toArray(); let i = index"
         [ngClass]="i === currentStepIndex ? 'bg-logo cursor-pointer' : !linear || canGoToStep(i) ? 'cursor-pointer' : 'cursor-not-allowed text-opacity-35'"
         [class.disabled]="linear && !canGoToStep(i)"
         (click)="goToStep(i)">
        {{ step.label }}
    </div>
</div>

<div class="p-1.5">
    <ng-content></ng-content>
</div>

<div class="stepper-navigation">
    <button (click)="previous()"
            [disabled]="currentStepIndex === 0">Back</button>
    <button (click)="next()"
            [disabled]="!canGoNext()">Next</button>
</div>