<div class="bg-navigation w-[1200px] rounded-lg">
     <div id="videos">
          <div id="subscriber"
               class="w-full h-full my-auto"
               class="rounded-md"></div>

          <!-- <div id="screen"
               class="w-full h-full hide"
               class="rounded-md"></div> -->

          <div id="publisher"
               class="rounded-md"></div>
     </div>
     <app-meeting-admin-bar [publisher]="publisher"
                            [videoEnabled]="true"
                            [audioEnabled]="true"
                            [screenShared]="screenSharing"
                            (screenShareRequested)="initializeScreenSharing($event)"
                            (onLogout)="logout()"></app-meeting-admin-bar>
</div>