<app-nested-option classList="w-full flex justify-between items-center bg-quizAnswerSection">
    <!-- Input for the answer text -->

    <div class="flex">
        <button class="flex justify-center items-center mr-2"
                [disabled]="isCorrect"
                (click)="setCorrectAnswer() ">
            <mat-icon *ngIf="isCorrect; else notCorrectRadio"
                      class="mr-1 text-buttonAccept hover:opacity-50 transition"
                      fontIcon="radio_button_checked">
            </mat-icon>
            <ng-template #notCorrectRadio>
                <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                          fontIcon="radio_button_unchecked">
                </mat-icon>
            </ng-template>
        </button>

        <div class="relative">
            <app-input [formControl]="$any(answerForm.controls['answer'])"
                       [hiddenLabel]="true"
                       placeholder="Відповідь"
                       label="Відповідь"></app-input>
            <div *ngIf="$any(answerForm.controls['answer'].value) !== initialValue "
                 (click)="$event.stopPropagation()"
                 class="flex justify-quizForm mr-1.5 absolute right-0 top-1.5">
                <mat-icon *ngIf="$any(answerForm.controls['answer'].value) !== '' "
                          class="mr-2 text-navlink hover:opacity-50 transition"
                          fontIcon="check"
                          (click)="editAnswer(); $event.stopPropagation()">

                </mat-icon>
                <mat-icon class="mr-2 text-navlink hover:opacity-50 transition"
                          fontIcon="close"
                          (click)="dropChanges(); $event.stopPropagation()">
                </mat-icon>
            </div>

        </div>

    </div>

    <!-- Delete button -->
    <button class="flex items-center justify-center"
            (click)="deleteAnswer()"
            aria-label="Delete answer">
        <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                  fontIcon="delete">
        </mat-icon>
    </button>
</app-nested-option>