<div class="relative w-full h-full p-8 flex justify-center">
    <ngx-spinner [fullScreen]="false"
                 name="lessonLoading"
                 type='ball-clip-rotate'>
    </ngx-spinner>

    <div *ngIf="lesson"
         class="container">
        <div class="mx-2 pl-1 mb-5">
            <h2 class="text-textInput">{{lesson.title}}</h2>
        </div>
        <div class="relative m-3 w-full flex justify-center ">
            <app-video-player classList="rounded-lg video right-8"
                              [fileId]="lesson.video.attachment.fileId"
                              [availableSubtitles]="lesson.video.subtitles"
                              (subtitleSelected)="handleSubtitlesExtracted($event)"></app-video-player>
        </div>
        <div class="lesson-content flex justify-start">
            <mat-tab-group class="w-full">
                <mat-tab label="Text">
                    <div class="mt-4">
                        <div class="text-textInput">{{subtitleText}}</div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="lesson.video?.summaryFileId"
                         label="Summary">
                    <div class="mt-4 relative w-full">
                        <ngx-spinner [fullScreen]="false"
                                     name="summaryLoading"
                                     type='ball-clip-rotate'>
                        </ngx-spinner>
                        <p class="text text-textInput w-full whitespace-pre-line">{{summaryText$ | async}}</p>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="lesson.quizzes && lesson.quizzes.length > 0"
                         [disabled]="false"
                         label="Quizzes">
                    <div class="mt-4">
                        <app-quizzes [lessonId]="lessonId"
                                     [quizzes]="lesson.quizzes"></app-quizzes>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>
