<!-- <div class="bg-gray-800 p-2 rounded mb-2">
    <cdk-accordion class="example-accordion">
        <cdk-accordion-item #accordionItem="cdkAccordionItem">
        </cdk-accordion-item>
    </cdk-accordion>
</div> -->

<div class="flex">
    {{quiz.question}}
</div>
<div *ngIf="quiz.media">
    <app-media [media]="quiz.media"></app-media>
</div>
<app-create-quiz-answers [lessonId]="lessonId"
                         [quizId]="quiz.quizId"
                         [answersResponse]="quiz.answers"></app-create-quiz-answers>