<div class="min-main-height flex justify-center p-10">
    <div class="w-full container-width bg-navigation opacity-80 p-4 rounded-lg shadow-md ">

        <app-stepper [linear]="true"
                     class="mb-4">

            <app-step label="Course"
                      [completed]="courseId !== null && courseId !== undefined">
                <div class="bg-gray-900 p-4 rounded-lg mb-2.5">
                    <div>
                        <div class="grid w-full grid-cols-2 gap-4 mb-3">
                            <app-text-input [formControl]="$any(courseForm.controls['name'])"
                                            placeholder="Name"
                                            label="Name"
                                            [hiddenLabel]="true"></app-text-input>

                            <app-text-input placeholder="Price"
                                            [formControl]="$any(courseForm.controls['price'])"
                                            label="Price"
                                            [hiddenLabel]="true"></app-text-input>

                        </div>

                        <div class="grid grid-cols-3 gap-4 mb-4">
                            <div></div>
                            <app-selector [formControl]="$any(courseForm.controls['language'])"
                                          [options]="selectorOptions"></app-selector>
                        </div>
                    </div>

                    <div *ngIf="courseForm.dirty"
                         class="flex justify-end mr-4">
                        <div class=" flex">
                            <app-button [disabled]="!courseForm.dirty"
                                        type="accept"
                                        (buttonClick)="saveChanges()">
                                Save
                            </app-button>

                            <app-button *ngIf="courseId"
                                        classList="ml-3"
                                        [disabled]="!courseForm.dirty"
                                        type="cancel"
                                        (buttonClick)="cancelChanges()">
                                Cancel
                            </app-button>
                        </div>
                    </div>
                </div>

                <div *ngIf="!editingMode"
                     class="flex justify-center w-full">
                    <app-button *ngIf="courseId === null || courseId === undefined || !courseResponse.isPublished; else unpublish"
                                [disabled]="courseId === null || courseId === undefined"
                                (buttonClick)="publish(true)">
                        Publish
                    </app-button>

                    <ng-template #unpublish>
                        <app-button (buttonClick)="publish(false)">
                            Unpublish
                        </app-button>
                    </ng-template>
                </div>
            </app-step>

            <app-step label="Paragraph"
                      [completed]="!!currentLessonEditing">
                <div *ngIf="courseResponse"
                     class="bg-gray-900 p-4 rounded-lg mb-4">

                    <app-create-paragraph *ngFor="let paragagraph of paragraphs; let index = index"
                                          [paragraphResponse]="paragagraph"
                                          [index]="index"
                                          [courseId]="courseResponse.id"
                                          (onUpdate)="paragraphUpdated($event)"></app-create-paragraph>


                    <div *ngIf="!paragraphs.includes(null)"
                         class="flex justify-center w-full">
                        <app-button (buttonClick)="addParagraph()"
                                    classList="rounded-full-important">
                            <div class="font-semibold">+</div>
                        </app-button>
                    </div>

                </div>
            </app-step>

            <app-step label="Lesson">
                <div *ngIf="courseResponse"
                     class="bg-gray-900 p-4 rounded-lg mb-4">
                    <input type="file"
                           #fileInput
                           style="display: none;"
                           (change)="handleFileInput(fileInput.files ? fileInput.files[0] : null, null)" />
                    <app-button onclick="fileInput.click()">Upload File</app-button>
                </div>
            </app-step>
        </app-stepper>

    </div>
</div>