<div class="w-100">
    <cdk-accordion [multi]="true">
        <ng-container *ngFor="let quiz of quizzes; let index = index">
            <app-create-single-quiz [lessonId]="lessonId"
                                    [quiz]="quiz"
                                    [index]="index"
                                    (deleted)="quizDeleted(index)"></app-create-single-quiz>
        </ng-container>
    </cdk-accordion>


    <div class="w-100 flex mt-2 justify-center items-center">
        <app-button (buttonClick)="addQuiz()"
                    classList="rounded-full-important">

            <div class="flex">
                <div
                     class="flex justify-center items-center w-[30px] h-[30px] rounded-full mr-2 opacity-60 bg-dropdown pb-[2px]">
                    +</div>
                <div>Question</div>
            </div>
        </app-button>
    </div>
</div>