@page
@model IdentityService.Pages.Register.Confirmation

<html>
<head>
    <title>Register</title>
</head>
<body>
<div class="d-flex justify-content-center align-content-center">
    <div class="register-form">
        
        <form asp-page="/Account/Register/Confirmation">
            <input type="hidden" asp-for="Input.ReturnUrl"/>
            <input type="hidden" asp-for="Input.Email"/>

            <label asp-for="Input.Code" class="inp">
                <input asp-for="Input.Code" type="text" placeholder="&nbsp;">
                <span class="label">Code</span>
                <span class="focus-bg"></span>
            </label>
            
            <partial name="_ValidationSummary" />

            <button class="btn btn-accept" type="submit">Далі</button>
        </form>
    </div>
</div>
</body>
</html>