@page
@using IdentityService.Models
@model IdentityService.Pages.Register.Data

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<div class="d-flex justify-content-center align-content-center">
    <div class="register-form">
        <form class="form" asp-page="/Account/Register/Data">
            <input type="hidden" asp-for="Input.ReturnUrl"/>
            <input type="hidden" asp-for="Input.ClientId"/>

            <label asp-for="Input.Name" class="inp">
                <input asp-for="Input.Name" type="text" placeholder="&nbsp;">
                <span class="label">Name</span>
                <span class="focus-bg"></span>
            </label>

            <label asp-for="Input.Surname" class="inp">
                <input asp-for="Input.Surname" type="text" placeholder="&nbsp;">
                <span class="label">Surname</span>
                <span class="focus-bg"></span>
            </label>

            <select class="custom-select" id="type" asp-for="Input.Type" asp-items="Html.GetEnumSelectList<UserType>()">
            </select>

            <div id="teacherFields" class="hidden">
                <label asp-for="Input.Company" class="inp">
                    <input asp-for="Input.Company" type="text" placeholder="&nbsp;">
                    <span class="label">Company</span>
                    <span class="focus-bg"></span>
                </label>
                <label asp-for="Input.CardNumber" class="inp">
                    <input id="card" asp-for="Input.CardNumber" type="text" placeholder="&nbsp;">
                    <span class="label">CardNumber</span>
                    <span class="focus-bg"></span>
                </label>
            </div>

            <label asp-for="Input.Password" class="inp">
                <input asp-for="Input.Password" type="password" placeholder="&nbsp;">
                <span class="label">Password</span>
                <span class="focus-bg"></span>
            </label>

            <label asp-for="Input.ConfirmPassword" class="inp">
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="&nbsp;">
                <span class="label">Confirm Password</span>
                <span class="focus-bg"></span>
            </label>
            
            <partial name="_ValidationSummary"/>
            
            <button class="btn btn-accept" type="submit">Далі</button>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/data.js"></script>
    @* <script type="text/javascript" src="~/js/select.js"></script> *@
}

</body>
</html>