@page
@model IdentityService.Pages.Register.Index
<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<div class="d-flex justify-content-center align-content-center">
    <div class="register-form">

        <form asp-page="/Account/Register/Index">
            <input type="hidden" asp-for="Input.ReturnUrl"/>

            <label asp-for="Input.Email" class="inp">
                <input asp-for="Input.Email" type="text" placeholder="&nbsp;">
                <span class="label">Email</span>
                <span class="focus-bg"></span>
            </label>
                    <partial name="_ValidationSummary"/>


            <a asp-page="../Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">
                Have account? Login here
            </a>

            <button class="btn btn-accept" type="submit">Далі</button>
        </form>
    </div>
</div>
</body>
</html>