<footer class="footer font-small flex justify-center bg-navigation">

    <div class="flex align-middle w-full mx-[30px]">

        <div class="w-full flex justify-between align-middle my-auto">

            <div class="flex align-middle logo-name">
                <p class="text-[45px] my-auto text-logo font-[800]">Learnify</p>
            </div>

            <div>

                <div class="d-flex">
                    <div class="d-flex flex-column align-items-between my-auto align-items-end h-100">
                        <p class="text-primar my-auto social-peregraph mt-2">&commat;V_Skinnylegs</p>
                        <p class="text-primar social-peregraph my-1">Tonkonoh Vlad</p>
                        <p class="text-primar my-auto social-peregraph mb-2">vladislav04762&commat;gmail.com</p>
                    </div>
                    <div class="d-flex flex-column my-auto align-items-center pt-2 pb-2">
                        <i class="fa fa-instagram color-dropdown"></i>
                        <i class="fa fa-facebook color-dropdown my-4"></i>
                        <i class="fa fa-envelope color-dropdown"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
</footer>