<app-nested-option>
    <span>{{ lessonTitle.title }}</span>
    <div class="flex">
        <button class="mr-2"
                (click)="invokeEdit()">
            <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                      fontIcon="edit">
            </mat-icon>
        </button>
        <button (click)="onDelete()">
            <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                      fontIcon="delete">
            </mat-icon>
        </button>
    </div>
</app-nested-option>