<div class="flex items-center gap-4 mb-4 p-2 border rounded-md shadow-sm bg-white">
    <!-- Input for the answer text -->
    <app-text-input [formControl]="$any(answerForm.controls['answer'])"
                    placeholder="Title"
                    label="Title"
                    (changedInput)="editAnswer()"></app-text-input>

    <!-- Delete button -->
    <button class="px-4 py-2 text-sm font-medium text-white bg-red-500 rounded-md hover:bg-red-600 focus:outline-none transition-colors"
            (click)="deleteAnswer()"
            aria-label="Delete answer">
        <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                  fontIcon="delete">
        </mat-icon>
    </button>
</div>