<app-nested-option classList="w-full flex justify-between items-center">
    <!-- Input for the answer text -->

    <div class="flex">
        <button class="flex justify-center items-center mr-2"
                [disabled]="isCorrect"
                (click)="setCorrectAnswer() ">
            <mat-icon *ngIf="isCorrect; else notCorrectRadio"
                      class="mr-1 text-buttonAccept hover:opacity-50 transition"
                      fontIcon="radio_button_checked">
            </mat-icon>
            <ng-template #notCorrectRadio>
                <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                          fontIcon="radio_button_unchecked">
                </mat-icon>
            </ng-template>
        </button>

        <app-text-input [formControl]="$any(answerForm.controls['answer'])"
                        [hiddenError]="true"
                        [hiddenLabel]="true"
                        placeholder="Title"
                        label="Title"
                        (changedInput)="editAnswer()"></app-text-input>
    </div>

    <!-- Delete button -->
    <button class="flex items-center justify-center"
            (click)="deleteAnswer()"
            aria-label="Delete answer">
        <mat-icon class="mr-1 text-buttonAccept hover:opacity-50 transition"
                  fontIcon="delete">
        </mat-icon>
    </button>
</app-nested-option>