<div class="w-full">

       <label *ngIf="!hiddenLabel"
              [for]="label"
              [ngClass]="control.dirty && control.invalid ? 'text-error' : ''"
              class="block mb-2 ml-2 text-sm font-medium text-primar">{{label}}</label>
       <input *ngIf="type === 'text' || type == 'password'"
              [id]="label"
              [formControl]="control"
              [placeholder]="placeholder"
              [type]="type"
              class="border-[2px] bg-input text-sm rounded-lg text-black font-medium w-full py-[6px] px-2 {{ control.dirty && control.errors && control.errors['hasError'] ? 'border-error focus:border-error text-error placeholder-error' : 'border-gray-500 focus:border-gray-400 placeholder-textInput' }} {{classList}}">
       <input *ngIf="type === 'IBAN'"
              [id]="label"
              [formControl]="control"
              type="text"
              name="iban"
              placeholder="DE89370400440532013000"
              pattern="[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}"
              maxlength="34"
              class="border-[2px] bg-input text-sm rounded-lg text-black font-medium w-full py-[6px] px-2 {{ control.dirty && control.errors && control.errors['hasError'] ? 'border-error focus:border-error text-error placeholder-error' : 'border-gray-500 focus:border-gray-400 placeholder-textInput' }} {{classList}}"
              required />
       <div *ngIf="!hiddenError">
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('required')">
                     Будь ласка введіть {{label}}
              </div>
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('email')">
                     Введіть валідну пошту
              </div>
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('minlength')">
                     {{label}} в діапазоні {{control.errors?.['minlength'].requiredLength}} символів
              </div>
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('maxlength')">
                     {{label}} більше ніж {{control.errors?.['maxlength'].requiredLength}} символів
              </div>
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('lettersOnly')">
                     Поле повинно містити тільки літери
              </div>
              <div class="mt-1 text-error text-sm font-medium"
                   *ngIf="control.dirty && control.hasError('isMatching')">
                     Паролі не співпадають
              </div>
       </div>

</div>