<div class="relative w-full h-[180px] rounded-lg shadow-lg overflow-hidden cursor-pointer hover:scale-105 transition-transform duration-300"
     (click)="navigateToCourse()"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">

  <!-- Conditionally show image or description based on hover state -->
  <div class="w-full h-full bg-cover bg-center transition duration-300"
       [ngStyle]="{
    'background-image': courseTitleResponse.photo ? 'url(' + (courseTitleResponse.photo.id | media | async) + ')' : 'none'
  }">
  </div>

  <!-- Opacity transition applied here -->
  <div class="absolute inset-0 bg-gray-700 flex items-center justify-center text-white transition-opacity duration-300"
       [ngClass]="isHovered ? 'opacity-70' : 'opacity-0'">

    <div class="text-center">
      <h3 class="text-2xl font-semibold">{{ courseTitleResponse.title }}</h3>
      <p class="mt-2 text-sm">{{courseTitleResponse.description | truncate: 180}}</p>
    </div>
  </div>
</div>