<div *ngIf="!!currentLessonEditing"
     class="bg-gray-900 p-4 rounded-lg mb-4">

       <div>
              <app-input [formControl]="$any(lessonForm.controls['title'])"
                         placeholder="Title"
                         label="Title"
                         (changedInput)="handleUpdateOfTitle()"></app-input>
       </div>

       <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

       <div class="flex justify-center items-center">
              <app-select-language [formControl]="$any(lessonForm.controls['language'])"></app-select-language>
       </div>

       <div *ngIf="lessonResponse?.video">
              <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>
              <div class="flex justify-center">
                     <app-select-languages-list [languagesList]="subtitlesLanguages"
                                                [constantlySelectedLanguages]="constantLanguages"
                                                (languagesListChange)="updateSelectedLanguages($event)"></app-select-languages-list>
              </div>
       </div>
       <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

       <div *ngIf="lessonResponse?.video?.attachment; else mediaNotExists"
            class="flex flex-col items-center justify-center">
              <app-video-player classList="my-3 rounded-lg"
                                [fileId]="lessonResponse.video.attachment.fileId"
                                [availableSubtitles]="lessonResponse.video.subtitles"></app-video-player>
              <app-button (buttonClick)="dropVideo()">Drop File</app-button>
       </div>

       <ng-template #mediaNotExists>
              <div class="flex justify-center items-center w-full mt-2">
                     <app-file-uploader class="w-72 h-32"
                                        accept="video/mp4"
                                        [uploadMethod]="uploadContentFacade"
                                        (fileUploaded)="handleFileInput($event)"></app-file-uploader>
              </div>
       </ng-template>

       <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

       <div>
              <app-create-quiz [quizzes]="lessonResponse?.quizzes"
                               [lessonId]="lessonResponse?.id"
                               (currentLessonUpdated)="handleImplicitLessonUpdate($event)"></app-create-quiz>
       </div>

       <div *ngIf="lessonResponse && lessonResponse.isDraft"
            class="w-full">
              <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

              <div class="flex items-center justify-center mt-2">
                     <app-button class="mr-3"
                                 (buttonClick)="save()">Save</app-button>
                     <app-button type="cancel"
                                 classList="rounded-lg"
                                 (buttonClick)="cancel()">Cancel</app-button>
              </div>

       </div>
</div>