<div *ngIf="!!currentLessonEditing"
     class="bg-gray-900 p-4 rounded-lg mb-4">

       <div>
              <app-text-input [formControl]="$any(lessonForm.controls['title'])"
                              placeholder="Title"
                              label="Title"
                              (changedInput)="saveDraft()"></app-text-input>
       </div>

       <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

       <div>

       </div>
       <div *ngIf="lessonResponse?.video?.attachment; else mediaNotExists"
            class="flex flex-col items-center justify-center">
              <app-video-player classList="my-3 rounded-lg"
                                [fileId]="lessonResponse.video.attachment.fileId"
                                [availableSubtitles]="lessonResponse.video.subtitles"></app-video-player>
              <app-button (buttonClick)="dropVideo()">Drop File</app-button>
       </div>

       <ng-template #mediaNotExists>
              <div class="flex justify-center items-center w-full mt-2">
                     <app-file-uploader class="w-72 h-32"
                                        accept="video/mp4,video/x-m4v,video/*,.mkv"
                                        [uploadMethod]="uploadContentFacade"
                                        (fileUploaded)="handleFileInput($event)"></app-file-uploader>
              </div>
       </ng-template>

       <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

       <div>
              <app-create-quiz [quizzes]="lessonResponse?.quizzes"
                               [lessonId]="lessonResponse?.id"></app-create-quiz>
       </div>

       <div *ngIf="lessonResponse && lessonResponse.isDraft"
            class="w-full">
              <div class="mx-auto w-11/12 my-2 h-[2px] bg-slate-800"></div>

              <div class="flex items-center justify-center mt-2">
                     <app-button class="mr-3"
                                 (buttonClick)="save()">Save</app-button>
                     <app-button classList="bg-dropdown hover:bg-dropdown hover:opacity-60 transition-opacity"
                                 (buttonClick)="cancel()">Cancel</app-button>
              </div>

       </div>
</div>