<div class="flex items-center justify-center flex-grow min-main-height py-16">
    <div class="relative login-form rounded-xl shadow-lg p-8 pt-16 max-w-sm w-full">
        <div class="absolute flex justify-center -top-[95px] left-[170px] p-0">
            <mat-icon style="font-size: 140px;"
                      class="text-dropdown text-8xl"
                      inline="true">account_circle</mat-icon>
        </div>
        <form>
            <div class="mb-3">
                <app-input [formControl]="$any(loginForm.controls['email'])"
                           label="Логін"
                           [type]="'text'"
                           placeholder="example@gmail.com"></app-input>
            </div>
            <div class="mb-1">
                <app-input [formControl]="$any(loginForm.controls['password'])"
                           label="Пароль"
                           [type]="'password'"
                           placeholder="Password!1@"></app-input>
            </div>
            <div class="mb-3 ml-2"><a class="font-medium text-sm no-underline text-link hover:underline"
                   routerLink="/register">Зареєструватись</a>
            </div>
            <div class="mb-3">
                <app-button (click)="login()"
                            classList="w-full bg-red-600 text-white py-1 rounded"
                            [disabled]="loginForm.invalid">Увійти</app-button>
            </div>
            <div class="mb-3">
                <app-button classList="w-full bg-black text-white py-1 rounded"
                            (click)="cancel()">Відміна</app-button>
            </div>
        </form>
    </div>
</div>