<div *ngIf="!!currentLessonEditing"
     class="bg-gray-900 p-4 rounded-lg mb-4">

       <div>
              <app-text-input [formControl]="$any(lessonForm.controls['title'])"
                              placeholder="Title"
                              label="Title"
                              (changedInput)="saveDraft()"></app-text-input>
       </div>

       <div *ngIf="lessonResponse?.video?.attachment">
              <app-video-player [fileId]="lessonResponse.video.attachment.fileId"></app-video-player>
       </div>

       <app-file-uploader [courseId]="courseId"
                          (fileUploaded)="handleFileInput($event)"></app-file-uploader>

       <div>
              <app-create-quiz [quizzes]="lessonResponse?.quizzes"
                               [lessonId]="lessonResponse?.id"></app-create-quiz>
       </div>
</div>