<div class="relative inline-block"
     [ngSwitch]="mediaType">
    <app-video-player [classList]=classList
                      *ngSwitchCase="MediaType.Video"
                      [fileId]="fileId"></app-video-player>
    <app-image [classList]="classList"
               *ngSwitchCase="MediaType.Image"
               [fileId]="fileId"></app-image>
    <mat-icon *ngIf="showClose"
              (click)="onClosed()"
              class="absolute top-1 right-1 text-textInput opacity-20 hover:opacity-50 transition"
              fontIcon="close">
    </mat-icon>
</div>