<!-- <div class="flex flex-col items-center space-y-4">
     <input #fileInput
            type="file"
            accept="video/mp4,video/x-m4v,video/*,.mkv"
            style="display: none;"
            (change)="handleFileInput(fileInput.files ? fileInput.files[0] : null, null)" />
     <app-button (buttonClick)="fileInput.click()">Upload File</app-button>
     <div *ngIf="uploadProgress !== undefined && uploadProgress >= 0 && uploadProgress < 100"
          class="w-full bg-gray-200 rounded-full h-4">
          <div class="bg-blue-600 h-4 rounded-full"
               [style.width]="uploadProgress + '%'">
          </div>
     </div>
</div> -->

<div appDragDrop
     class="w-full h-full bg-gray-700 border-gray-600 border-solid border-[3px] rounded-xl"
     (fileDropped)="handleFileInput($event)">
     <input #fileInput
            type="file"
            accept="video/mp4,video/x-m4v,video/*,.mkv"
            style="display: none;"
            (change)="handleFileInput(fileInput.files)" />

     <div class="w-full h-full flex items-center justify-center"
          (click)="fileInput.click()">
          <div class="text-navlink cursor-default m-0">Press or drop file here...</div>
     </div>

</div>
<div *ngIf="uploadProgress !== undefined && uploadProgress >= 0 && uploadProgress < 100"
     class="w-full bg-gray-200 rounded-full h-4">
     <div class="bg-logo h-4 rounded-full"
          [style.width]="uploadProgress + '%'">
     </div>
</div>