<div class="w-[1440px] h-[1320px] bg-[#343434] flex-col justify-center items-start inline-flex">
   <div class="w-[1440px] h-[50px] relative">
      <div class="w-[1440px] h-[50px] left-0 top-0 absolute bg-[#1e1e1e]"></div>
      <div class="w-[121px] h-[35px] left-[1161px] top-[8px] absolute bg-[#c52c2c]"></div>
      <div
           class="w-[157px] h-[50px] left-[47px] top-0 absolute text-center text-[#c52c2c] text-[32px] font-normal font-['Inter']">
         learnify</div>
      <div
           class="w-[53px] h-[27px] left-[1345px] top-[12px] absolute text-white text-[25px] font-normal font-['Inter']">
         Д/Н</div>
   </div>
   <div class="w-[1345px] h-[1087px] relative">
      <div class="w-[856px] h-[516px] left-[489px] top-[63px] absolute bg-[#d9d9d9]"></div>
      <div class="w-[382px] h-[1087px] left-0 top-0 absolute">
         <div class="w-[382px] h-[1087px] left-0 top-0 absolute bg-[#282828]"></div>
         <div class="w-[382px] h-[108px] left-0 top-[109px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[217px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[325px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[433px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[541px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[758px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[866px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108px] left-0 top-[974px] absolute">
            <div class="w-[382px] h-[108px] left-0 top-0 absolute bg-[#282828]"></div>
            <div class="left-[46px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва пункту
            </div>
         </div>
         <div class="w-[382px] h-[108.68px] left-0 top-0 absolute">
            <div class="w-[382px] h-[108.68px] left-0 top-0 absolute bg-[#232323]"></div>
            <div class="left-[47px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва розділу
            </div>
         </div>
         <div class="w-[382px] h-[108.68px] left-0 top-[649px] absolute">
            <div class="w-[382px] h-[108.68px] left-0 top-0 absolute bg-[#232323]"></div>
            <div class="left-[47px] top-[40px] absolute text-white text-2xl font-normal font-['Inter']">Назва розділу
            </div>
         </div>
      </div>
      <div
           class="w-[356px] h-[34px] left-[489px] top-[604px] absolute text-white text-[32px] font-normal font-['Cantata One']">
         Розшифрування аудіо</div>
      <div class="w-[856px] h-96 left-[489px] top-[659px] absolute bg-[#3b3b3b] rounded-[15px]"></div>
      <div
           class="w-[351px] h-16 left-[524px] top-[663px] absolute text-white text-2xl font-normal font-['Cantata One']">
         Розшифрування аудіо</div>
   </div>
   <div class="w-[1440px] h-[183px] relative">
      <div class="w-[1440px] h-[183px] left-0 top-0 absolute bg-[#1e1e1e]"></div>
      <div
           class="w-[465px] h-[183px] left-[96px] top-0 absolute text-[#c52c2c] text-[56px] font-normal font-['Calligraffitti'] tracking-[8.40px]">
         Learnify</div>
      <div class="w-[106px] h-[121px] left-[1239px] top-[31px] absolute">
         <div class="w-[106px] h-[25px] left-0 top-0 absolute">
            <div class="w-[25.09px] h-[25px] left-[80.91px] top-0 absolute bg-[#d9d9d9]"></div>
            <div
                 class="w-[80.91px] h-[25px] left-0 top-0 absolute text-[#aaaaaa] text-sm font-normal font-['Cantata One']">
               Instagtam</div>
         </div>
         <div class="w-[106px] h-[25px] left-0 top-[46px] absolute">
            <div class="w-[25.09px] h-[25px] left-[80.91px] top-0 absolute bg-[#d9d9d9]"></div>
            <div
                 class="w-[80.91px] h-[25px] left-0 top-0 absolute text-[#aaaaaa] text-sm font-normal font-['Cantata One']">
               Facebook</div>
         </div>
         <div class="w-[106px] h-[25px] left-0 top-[96px] absolute">
            <div class="w-[25.09px] h-[25px] left-[80.91px] top-0 absolute bg-[#d9d9d9]"></div>
            <div
                 class="w-[80.91px] h-[25px] left-0 top-0 absolute text-[#aaaaaa] text-sm font-normal font-['Cantata One']">
               LinkedIn</div>
         </div>
      </div>
   </div>
</div>