:root{
  --login: #5C5C5C;
  --logo: #C62D2D;
}

.welcome-page .logo {
  width: 64px;
}

.icon-banner {
  width: 32px;
}

body {
  background-color: #343434;
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px;
  
}

.welcome-page li {
  list-style: none;
  padding: 4px;
}

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}

.register-form{
  padding: 70px 75px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(86.02% 86.02% at 50% 50%, rgba(199, 16, 16, 0.20) 0%, rgba(170, 5, 5, 0.00) 100%), var(--login, #5C5C5C);
}

.btn-accept{
  display: block;
  width: 320px;
  height: 35px;
  background-color: var(--logo);
}

.hidden{
  display: none;
}