<div *ngIf="courseTitles && courseTitles.totalCount !== 0; else noTitles"
     class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4 justify-items-center content-center">
    <app-course-cart *ngFor="let courseTitle of courseTitles.items"
                     class="w-full"
                     [courseTitleResponse]="courseTitle"
                     (onClick)="navigateToCourse(courseTitle.id)">
    </app-course-cart>
</div>
<ng-template #noTitles>
    <div class="flex justify-center items-center">
        <div class="mt-32 text-textInput">Ви ще не придбали жодного курсу</div>
    </div>
</ng-template>